*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.menubar 
{
    list-style-type: none;
    margin: 0;
    padding: 0;

    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100vw;
    font-size:12px;
    z-index: 100;
}

.menubar li {
    float:right;
}
#yalda_home {
    float:left;
}


/* CONTENT */

#cont1 {
    color:red;
    font-size:25px;

    margin-top:25vh;
    margin-bottom:20vh;

    margin-right:30vw;
    margin-left:15vw;

    line-height: 5vh;

}

#cont2 {
    color:red;
    font-size:25px;

    margin-top:25vh;
    margin-bottom:20vh;

    margin-right:20vw;
    margin-left:30vw;

    line-height: 5vh;

}

#main1 {
    position:absolute;
    top:5vh;
    width:100vw;
    z-index: -0;
}

#main_description {
   
   color: white; 
   position:absolute;
   top:10vh;
   left:70vw;
   z-index: 1;
   font:11px;
   margin-right:50px;
  
}

.box1
{
 padding:20px;
 margin-top:30px;
 background-color:white;
 height:1000px;
}

.box2
{
 padding:20px;
 margin-top:30px;
 background-color:white;
 height:2000px; 
}

#copyright {
    text-align:center;
    font-size:11px;
    margin-top:20px;
    margin-bottom:20px;
    
}

.contact_links {
    margin:100px;
}

#test
{

}

li 
{
    float: left;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) 
{
    background-color: #111;
}

.active 
{
    background-color: black;
}

#main
{
    padding:20px;
    margin-top:30px;
    background-color:white;
    height:1500px;
}

@media screen and (max-width: 600px)
{
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.proj1 {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .5s ease-in-out;  
    }

    .proj1:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}